<div class="card-header post-header">
    <img class="post-profile-img" src="unnamed.jpg">
    <div class="post-header-creator-info">
        <h6>john wick</h6>
        <small class="text-muted">software engineer</small>
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
