<div class="modal fade" id="document" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="postattach">
                    <div class="postattach--header">
                        <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <h2 class="postattach__Title">Share a document</h2>
                    </div>
                    <div class="postattach--select">
                        <!-- <button class = "postattach--select--content">Select video to share</button> -->
                        <div class="postattach--select_file">
                            <label class="mypost-footer_publish-btn chooseFile">
                                <input type="file" multiple />
                                Choose File
                            </label>
                        </div>
                    </div>
                    <div class="postattach--footer">
                        <button class="postattach--footer--btn postattach--footer--nextenabled">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
