
<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="postattach">
                    <div class="postattach--header">
                        <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <h2 class="postattach__Title">Select/Edit your video</h2>
                    </div>
                    <div class="postattach--select">
                        <button class="postattach--select--content">
                            <label class="mypost-label">
                                <input type="file" multiple />
                                Select video to share
                            </label>
                        </button>
                    </div>
                    <div class="postattach--footer">
                        <button class="postattach--footer--btn postattach--footer--nextenabled">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>