<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-1 font-weight-bolder">All (150)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: black;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">

                    <tbody>
                        <tr>

                            <td>
                                <div class="card-header post-header">
                                    <img class="post-profile-img" src="unnamed.jpg">
                                    <div class="post-header-creator-info mt-2 ">
                                        <h6>john wickkkkkkkk</h6>
                                        <small class="text-muted">software engineer</small>
                                        <small class="text-muted">Last updated  mins ago</small>
                                    </div>
                                </div>
                            </td>
                            <td><i class="far fa-thumbs-up mt-4 fa-2x"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card-header post-header">
                                    <img class="post-profile-img" src="unnamed.jpg">
                                    <div class="post-header-creator-info mt-2">
                                        <h6>john wick</h6>
                                        <small class="text-muted">software engineer</small>
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </td>
                            <td><i class="far fa-thumbs-up mt-4 fa-2x"></i></td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
