
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/NewsFeedStyle.css">
    <style>
    </style>
</head>
<body>
    <div class="container row mt-5 mx-auto">
        <div class="col-md-4 col-lg-4 col-sm-4">

            <div class="profile mx-auto">
                <div class="profile--Image"></div>
                <div class="profile--info ">
                    <div class="profile--text ">
                        <a href="#"><div class="profile--text__h2">Amr Mansour</div></a>
                        <div class="profile--text__h3">Software Developer -.net</div>
                    </div>
                </div>
                <div class="profile--info">
                    <div class="profile--text">
                        <div class="profile--numtext">
                            <a class="profile--text__P" href="#">Who's viewed your profile</a>
                            <a class="profile--text__num"> 36</a>
                        </div>
                        <div class="profile--numtext">
                            <div class="profile--doubletext">
                                <a class="profile--text__P" href="#">Connections</a>
                                <div class="profile--text--blacktext">Grow your netwrok</div>
                            </div>
                            <a class="profile--text__num"> 419</a>
                        </div>
                        <div class="profile--premium">
                            <a class="profile--text__P" href="#">Access exclusive tools & insights</a>
                            <div class="profile--text--blacktext"><i class="far fa-star icon icon--premium"></i>Reactive Premium for free</div>
                        </div>
                    </div>
                </div>
                <div class="profile--info profile--saved">
                    <a class="profile--text--blacktext">
                        <i class="far fa-bookmark icon"></i> Saved items
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="create-post ">
                <div class="writePost">
                    <button class="button button-post button-border" data-toggle="modal" data-target="#post">
                        <i class="far fa-edit post-icon"></i>
                        <span>Start a post</span>
                    </button>
                    <button class="button button-icons button-border">
                        <label class="mypost-label" data-toggle="modal" data-target="#picture">
                            <i class="fas fa-camera"></i>
                            <input type="file" multiple />
                        </label>
                    </button>
                    <button class="button button-icons button-border">
                        <label class="mypost-label" data-toggle="modal" data-target="#video">
                            <i class="fas fa-video"></i>
                            <input type="file" multiple />
                        </label>
                    </button>
                    <button class="button button-icons">
                        <label class="mypost-label" data-toggle="modal" data-target="#document">
                            <i class="far fa-file-alt"></i>
                            <input type="file" multiple />
                        </label>
                    </button>
                </div>
                <div class="article">
                    <a href="#">Write an article </a>on LinkedIn
                </div>
                <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="mypost">
                                    <div class="mypost-header">
                                        <h2>Create a post</h2>
                                        <button type="button" class="close mypost-close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <!-- <div class="post-close">
                                            <i class="fas fa-times"></i>
                                        </div> -->
                                    </div>
                                    <div class="mypost-body">
                                        <div class="mypost-body_top">
                                            <div class="mypost-profilepic"></div>
                                            <span>UserName</span>
                                        </div>
                                        <div class="mypost-body_middle">
                                            <textarea name="post-text" id="textEditor" rows="12" placeholder="What do you want to talk about?"></textarea>
                                        </div>
                                        <div class="mypost-body_bottom">
                                            <div class="mypost-body_bottomContent">
                                                <button class="mypost-hashtag">Add hashtag</button>
                                                <span>Help the right people see your post</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mypost-footer">
                                        <div class="mypost-footer_media">
                                            <button class="button button-icons button-footer">
                                                <label class="mypost-label" data-toggle="modal" data-target="#picture">
                                                    <i class="fas fa-camera"></i>
                                                    <input type="file" multiple />
                                                </label>
                                            </button>
                                            <button class="button button-icons button-footer">
                                                <label class="mypost-label" data-toggle="modal" data-target="#video">
                                                    <i class="fas fa-video"></i>
                                                    <input type="file" multiple />
                                                </label>
                                            </button>
                                            <button class="button button-icons button-footer">
                                                <label class="mypost-label" data-toggle="modal" data-target="#document">
                                                    <i class="far fa-file-alt"></i>
                                                    <input type="file" multiple />
                                                </label>
                                            </button>
                                        </div>
                                        <div class="mypost-footer_publish">
                                            <button class="mypost-footer_publish-btn mypost-footer_publishEnabele mypost-footer_publishDisable">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="picture" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="postattach">
                                    <div class="postattach--header">
                                        <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>
                                        <h2 class="postattach__Title">Edit your photo</h2>
                                    </div>
                                    <div class="postattach--select">
                                        <button class="postattach--select--content">
                                            <label class="mypost-label">
                                                <input type="file" multiple />
                                                Select images to share
                                            </label>
                                        </button>
                                    </div>
                                    <div class="postattach--footer">
                                        <button class="postattach--footer--btn postattach--footer--nextenabled">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="postattach">
                                    <div class="postattach--header">
                                        <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>
                                        <h2 class="postattach__Title">Select/Edit your video</h2>
                                    </div>
                                    <div class="postattach--select">
                                        <button class="postattach--select--content">
                                            <label class="mypost-label">
                                                <input type="file" multiple />
                                                Select video to share
                                            </label>
                                        </button>
                                    </div>
                                    <div class="postattach--footer">
                                        <button class="postattach--footer--btn postattach--footer--nextenabled">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="document" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="postattach">
                                    <div class="postattach--header">
                                        <div class="postattach--back" data-dismiss="modal" aria-label="Close">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>
                                        <h2 class="postattach__Title">Share a document</h2>
                                    </div>
                                    <div class="postattach--select">
                                        <!-- <button class = "postattach--select--content">Select video to share</button> -->
                                        <div class="postattach--select_file">
                                            <label class="mypost-footer_publish-btn chooseFile">
                                                <input type="file" multiple />
                                                Choose File
                                            </label>
                                        </div>
                                    </div>
                                    <div class="postattach--footer">
                                        <button class="postattach--footer--btn postattach--footer--nextenabled">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-1 font-weight-bolder">All (150)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span style="color: black;" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-borderless">

                                    <tbody>
                                        <tr>

                                            <td>
                                                <div class="card-header post-header">
                                                    <img class="post-profile-img" src="unnamed.jpg">
                                                    <div class="post-header-creator-info mt-2 ">
                                                        <h6>john wick</h6>
                                                        <small class="text-muted">software engineer</small>
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><i class="far fa-thumbs-up mt-4 fa-2x"></i></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="card-header post-header">
                                                    <img class="post-profile-img" src="unnamed.jpg">
                                                    <div class="post-header-creator-info mt-2">
                                                        <h6>john wick</h6>
                                                        <small class="text-muted">software engineer</small>
                                                        <small class="text-muted">Last updated 3 mins ago</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><i class="far fa-thumbs-up mt-4 fa-2x"></i></td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="posts mt-5">
                    <div class="card post shadow">
                        <div class="card-header post-header">
                            <img class="post-profile-img" src="unnamed.jpg">
                            <div class="post-header-creator-info">
                                <h6>john wick</h6>
                                <small class="text-muted">software engineer</small>
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                        <div class="card-body post-body ">
                            <div class="card post ">
                                <div class="post-header card-header">
                                    <img class="post-profile-img" src="unnamed.jpg">
                                    <div class="post-header-creator-info">
                                        <h6>john wick</h6>
                                        <small class="text-muted">software engineer</small>
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                                <div class="post-body card-body">

                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <img class="card-img-top" src="download.jfif" alt="Card image cap">


                            </div>
                        </div>
                        <div class="post-status">

                            <p class="card-text">
                                <small class="text-muted">
                                    <small class="text-muted" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="far fa-thumbs-up"></i>&nbsp;<i class="far fa-comments"></i>&nbsp;<i class="fas fa-share"></i>160</small>
                                    <small class="text-muted">150 Comment</small>
                                </small>
                            </p>

                        </div>
                        <div class="post-footer card-footer" style="display: flex;">
                            <div class="post-footer-action">
                                <div class="post-footer-like">

                                    <button class="btn btn-light reactions-container btn-lg" class="btn btn-secondary" data-animation="true" data-html="true" data-placement="top" data-toggle="popover" data-trigger="hover focus"
                                            data-content='<i class="far fa-thumbs-up " id="reaction" "></i>&nbsp;
                              <i class="fas fa-praying-hands " id="reaction"></i>&nbsp;
                              <i class="fas fa-heart  " id="reaction"></i>&nbsp;
                              <i class="fab fa-free-code-camp  " id="reaction"></i>&nbsp;
                              <i class="far fa-angry  " id="reaction"></i>'>

                    <i class="far fa-thumbs-up container__Sign reaction-sign"></i>  like
                </button>
                                </div>
                                &nbsp;
                                <div>
                                    <button class="btn btn-light btn-lg">
                                        <i class="far fa-comment-dots container__Sign comment-sign"></i>
                                        comment
                                    </button>
                                </div>
                                &nbsp;
                                <div>
                                    <button class="btn btn-light btn-lg" data-toggle="modal" data-target="#post">
                                        <i class="far fa-share-square container__Sign share-sign "></i>
                                        share
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12">

                                <div class="input-group mt-2 ml-0">
                                    <img class="post-profile-img mr-3" src="unnamed.jpg">
                                    <input type="text" class=" inputComment form-control " id="validationCustomUsername" placeholder="Add new comment..." aria-describedby="inputGroupPrepend" required>
                                    <div class="input-group-append">
                                        <label class="comment-image mt-2 mr-1" for="customFileLang">
                                            <input type="file" id="customFileLang" lang="es" style="display: none;">
                                            <i class="fas fa-images pr-3"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-sec pl-5">
                                <!--Comment-->
                                <div class="row ">

                                    <!-- hshel ml-3 , mt-3 de fl a5er w h5li col-sm-6=> col-sm-12 -->

                                    <img class="post-profile-img mt-4 " src="unnamed.jpg">
                                    <div class="col-sm-10 mt-3 mr-0">

                                        <div class="card comment">
                                            <div class="card-body">
                                                <div class=" comment--header ">
                                                    <a class="card-title comment--auther " href="#">Special title treatment </a>
                                                    <div class=" options-sec">
                                                        <p class="text-right font-weight-light comment--operation"> 13h <i class="fas fa-ellipsis-h option-click "></i> </p>
                                                        <div class="card comment-options  " style="width: 15rem;">
                                                            <div class="card-body pt-2 pb-1 ">
                                                                <p class="card-text "> <i class="fas fa-link"></i> Copy Link to Comment</p>
                                                                <p class="card-text"> <i class="far fa-flag"></i> Report</p>
                                                                <p class="card-text"> <i class="fas fa-pen"></i> Edit</p>
                                                                <p class="card-text" data-toggle="modal" data-target="#exampleModalScrollable"> <i class="fas fa-trash"></i> Delete</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="font-weight-light comment--auth-job">Light weight text.</p>

                                                <p class="card-text comment--text"></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--End Comment-->
                                <!-- React-->

                                <div class="row ">

                                    <div class="col-sm-6 ml-5 ">
                                        <div class="card comment-bar ">
                                            <div class="card-body pt-1">
                                                <i class="far fa-thumbs-up pr-2 comment-like"></i>
                                                <span class="line"><span class="font-weight-light likes-no">.1 Like</span> </span>
                                                <i class="far fa-comment-alt pl-3"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End React-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2"> </div>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/a2c240c32b.js" crossorigin="anonymous"></script>


            <script src="~/Scripts/NewsFeedScript.js"></script>



            <script>

            </script>
</body>
</html>>
